# Lesson 4

## Loading libraries

In [1]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_excel('/Users/louis/Desktop/anova_class_example_data.xlsx', sheet_name='data_collected')
data.head()

model = ols('Percent_increase_in_sales ~ C(Display_design)',data=data).fit()
table = sm.stats.anova_lm(model)
print(table)

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN

# Another example

In [3]:
!pip install researchpy

Collecting researchpy
  Downloading researchpy-0.2.3-py3-none-any.whl (10 kB)
Requirement already satisfied: statsmodels in /Users/louis/opt/anaconda3/lib/python3.8/site-packages (from researchpy) (0.11.1)
Requirement already satisfied: scipy in /Users/louis/opt/anaconda3/lib/python3.8/site-packages (from researchpy) (1.5.0)
Requirement already satisfied: pandas in /Users/louis/opt/anaconda3/lib/python3.8/site-packages (from researchpy) (1.0.5)
Requirement already satisfied: numpy in /Users/louis/opt/anaconda3/lib/python3.8/site-packages (from researchpy) (1.18.5)
Requirement already satisfied: patsy>=0.5 in /Users/louis/opt/anaconda3/lib/python3.8/site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /Users/louis/opt/anaconda3/lib/python3.8/site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/louis/opt/anaconda3/lib/python3.8/site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: six in /Users/louis/opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5->statsmodels->researchpy) (1.15.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.2.3

In [4]:
import pandas as pd
import researchpy as rp

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/researchpy/Data-sets/master/difficile.csv")
df.drop('person', axis= 1, inplace= True)

# Recoding value from numeric to string
df['dose'].replace({1: 'placebo', 2: 'low', 3: 'high'}, inplace= True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dose    15 non-null     object
 1   libido  15 non-null     int64
dtypes: int64(1), object(1)
memory usage: 368.0+ bytes

In [6]:
rp.summary_cont(df['libido'])

  Variable     N    Mean      SD      SE  95% Conf.  Interval
0   libido  15.0  3.4667  1.7674  0.4563     2.4879    4.4454

In [7]:
rp.summary_cont(df['libido'].groupby(df['dose']))

         N  Mean      SD      SE  95% Conf.  Interval
dose
high     5   5.0  1.5811  0.7071     3.0368    6.9632
low      5   3.2  1.3038  0.5831     1.5811    4.8189
placebo  5   2.2  1.3038  0.5831     0.5811    3.8189

In [8]:
import scipy.stats as stats

stats.f_oneway(df['libido'][df['dose'] == 'high'],
               df['libido'][df['dose'] == 'low'],
               df['libido'][df['dose'] == 'placebo'])

F_onewayResult(statistic=5.11864406779661, pvalue=0.024694289538222603)